<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.example" versionCode="10" version="1.0.0">
	<name>Netherworld Wars 0.1</name>
	<description>
		Role Playing Game
	</description>
	<author href="http://juliocofre.cl" email="mail@juliocofre.cl">
		Julio Cofre Gonzalez
    </author>
	<content src="index.html" />

	<preference name="DisallowOverscroll" value="true" />
	<preference name="phonegap-version" value="cli-6.4.0" />
	<!--<preference name="orientation" value="portrait" />-->
	<preference name="orientation" value="landscape" />

	<preference name="android-minSdkVersion" value="14" />

	<platform name="android">
        <icon   src="images/icon/android/ldpi-icon.png"               density="ldpi" />
        <icon   src="images/icon/android/mdpi-icon.png"               density="mdpi" />
        <icon   src="images/icon/android/hdpi-icon.png"               density="hdpi" />
        <icon   src="images/icon/android/xhdpi-icon.png"              density="xhdpi" />
        <icon   src="images/icon/android/xxhdpi-icon.png"             density="xxhdpi" />
        <splash src="images/screen/android/land-ldpi-screen.png"      density="land-ldpi" />
        <splash src="images/screen/android/land-mdpi-screen.png"      density="land-mdpi" />
        <splash src="images/screen/android/land-hdpi-screen.png"      density="land-hdpi" />
        <splash src="images/screen/android/land-xhdpi-screen.png"     density="land-xhdpi" />
        <splash src="images/screen/android/land-xxhdpi-screen.png"    density="land-xxhdpi" />
        <splash src="images/screen/android/port-ldpi-screen.png"      density="port-ldpi" />
        <splash src="images/screen/android/port-mdpi-screen.png"      density="port-mdpi" />
        <splash src="images/screen/android/port-hdpi-screen.png"      density="port-hdpi" />
        <splash src="images/screen/android/port-xhdpi-screen.png"     density="port-xhdpi" />
        <splash src="images/screen/android/port-xxhdpi-screen.png"    density="port-xxhdpi" />
    </platform>

	<plugin name="cordova-plugin-device" spec="~2.0.1" />
	<plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
	<plugin name="cordova-plugin-network-information" spec="~2.0.1" />
	<plugin name="cordova-plugin-file" spec="~6.0.1" />
	<plugin name="cordova-plugin-globalization" spec="~1.0.9" />
	<plugin name="cordova-plugin-inappbrowser" spec="~2.0.1" />

	<allow-navigation href="http://appsredon.cl/*" />
	<access origin="*" />
</widget>