<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.example" versionCode="10" version="1.0.0">
	<name>GitHub PhoneGap 2018</name>
	<description>
		Aplicacion de prueba
	</description>
	<author href="http://juliocofre.cl" email="mail@juliocofre.cl">
		Julio Cofre Gonzalez
    </author>
	<content src="index.html" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="phonegap-version" value="cli-6.0.0" />
	<access origin="http://manquehuito.cl" />
</widget>