@font-face {
	font-family:'DenkOne-Regular';
	src:url('../fonts/DenkOne-Regular.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
* { display:block; margin:0; padding:0; outline:0; border:0; }

.app {
	width:100%;
	height:100%;
	position:absolute;
	background:#000;
	top:0;
	left:0;
}
.aviso {
	display:none;
}
.titulo {
	font-family:'DenkOne-Regular';
	position:absolute;
	color:#FFF;
	font-size:10vh; /*8vh*/
	top:1vh;
	width:100%;
	text-align:center;
}
.nivel {
    position: absolute;
    top: 15vh;
    width: 96vw;
    height: 85vh;
    left: 2vw;
}
.boton {
	font-family: 'DenkOne-Regular';
    position: absolute;
    color: #000;
    font-size: 10vh;
    bottom: 2vh;
    width: 22%;
    left: 0;
    text-align: center;
    padding: 1vh 0;
    background: #FFF;
    text-decoration: none;
    right: 0;
    margin: auto;
}
.btn-nivel {
    float: left;
    width: 9.7vw;
    height: 63vh;
    border: 1vw solid #FFF;
    background: #FFF;
    margin: 0 1vw;
    border-radius: 1vw;
    overflow: hidden;
	position:relative;
}
.btn-nivel span {
    position: absolute;
    font-family: 'DenkOne-Regular';
    font-size: 5vh;
    top: 3vh;
    width: 100%;
    text-align: center;
    color: #900;
    background:#FFF;
}
.btn-nivel.elige {
	border: 1vw solid #900;
    background: #900;
}
.btn-nivel.elige span {
    color: #FFF;
    background:#900;
}


/* -------------- CARTAS --------------- */
.cartas {
	position: absolute;
    top: 15vh;
    width: 96vw;
    height: 85vh;
    left: 2vw;
	display:none;
}
.btn-carta {
    width:9.7vw;
    height:63vh;
	display:block;
	position:absolute !important;
	top:0;
	z-index:5;
}
/*
1 = 10 + 0
2 = 10 + 137
3 = 10 + (137 x 2)
4 = 10 + (137 x 3)
5 = 10 + (137 x 4)
6 = 10 + (137 x 5)
7 = 10 + (137 x 6)
*/
.carta-1 { left:1vw; }
.carta-2 { left:14.7vw; }
.carta-3 { left:28.4vw; }
.carta-4 { left:42.1vw; }
.carta-5 { left:55.8vw; }
.carta-6 { left:69.5vw; }
.carta-7 { left:83.2vw; }
.btn-carta .front, .btn-carta .back {
    border:1vw solid #FFF;
    background:#FFF;
    border-radius:1vw;
	overflow:hidden;
	position:absolute;
}
.final {
    font-family: 'DenkOne-Regular';
    position: absolute;
    color: #FFF;
    font-size: 7vh;
    bottom: 2vh;
    width: 100%;
    text-align: center;
}

@media all and (orientation: portrait) {
	.aviso {
		display:block;
		position:absolute;
		z-index:99;
	}	
}